.center {
    margin: auto;
    background-color: white;
}

.center-register-form{
    width: 100%;
    max-width: 600px;
}

.center-login-form{
    width: 100%;
    max-width: 325px;
}

.login-form {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.register-form {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
}

.header{
    padding: 0 16px!important;
    text-align: center;
}

.trigger {
    font-size: 18px;
    line-height: 64px!important;
    cursor: pointer;
    transition: color .3s;
    float: left;
}

.trigger:hover {
    color: #108ee9;
}

.ant-menu-item-selected{
    background-color: #00afaf!important;
}

.main-h{
    color: rgba(0,0,0,.85);
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 24px;
}

.main-input{
    width: 400px;
}

.table-operations {
    margin-bottom: 16px;
}

.logo{
    font-size: 3.5em;
}

.ant-table-tbody > tr {
    cursor: pointer;
}

.ant-table-body{
    overflow-x:auto!important;
}

.form-text-align-left .ant-form-item-label{
    text-align: left!important;
}